<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="/stylesheets/fonts.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/pages/auth.css" />
  </head>
  <body>
    <div class="form-container">
      <div class="title">Login</div>
      <form action="/auth/login" method="post">
        <div>
          <input
            type="email"
            name="email"
            class="field"
            placeholder="Email"
            value="<%=formData?.email%>"
          />
          <%const emailErrIndex = errors.findIndex(el=>el.path==='email')%>
          <%if(emailErrIndex!==-1){%>
          <div class="error"><%=errors[emailErrIndex].msg%></div>
          <%}%>
        </div>
        <div>
          <input
            type="text"
            name="password"
            class="field"
            placeholder="Password"
          />
          <%const passwordErrIndex =
          errors.findIndex(el=>el.path==='password')%>
          <%if(passwordErrIndex!==-1){%>
          <div class="error"><%=errors[passwordErrIndex].msg%></div>
          <%}%>
          <!-- ----------------------------------------- -->
          <%const dataErrIndex =
          errors.findIndex(el=>el.path==='email-password')%>
          <%if(dataErrIndex!==-1){%>
          <div class="error"><%=errors[dataErrIndex].msg%></div>
          <%}%>
        </div>
        <div>
          <button type="submit" class="btn">Log in</button>
        </div>

        <div class="signup">
          Don't have an account? <span><a href="/auth/signup">Sign up</a></span>
        </div>
      </form>
    </div>
  </body>
</html>
