<header class="header">
  <nav class="header-container">
    <ul class="nav-items">
      <li>
        <span class="title"><a href="/"> Charlestown</a></span>
      </li>
      <li>
        <ul class="links-container">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/menu">Menu</a></li>
        </ul>
      </li>

      <li>
        <div class="user-div">
          <%if(user){%>
          <span><%=user.fullName%></span>
          <a href="/auth/logout">
            <button class="logout-btn">
              <i class="fa-solid fa-right-from-bracket"></i>
            </button>
          </a>
          <%if(user.role.title==='Manager'){%>
          <a href="/menu/form">
            <button class="btn add-meal-btn">Add Meal</button>
          </a>
          <%} } else{%>
          <a href="/auth/login">
            <button class="btn auth-btn">Become our Guest</button>
          </a>
          <%}%>
        </div>
      </li>
    </ul>
  </nav>
</header>
