<header class="header">
  <nav class="header-container">
    <ul class="nav-items">
      <li>
        <span class="title"><a href="/"> Charlestown</a></span>
      </li>
      <li>
        <ul class="links-container">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/menu">Menu</a></li>
        </ul>
      </li>
      <li>
        <a href="/menu/form">
          <button class="btn">Add Meal</button>
        </a>
      </li>
    </ul>
  </nav>
</header>
