<div class="about-page-wrapper">
  <div class="about-background"></div>
  <div class="about-container">
    <img src="/images/interior.jpg" alt="" class="interior" />
    <div class="details-container">
      <span class="orange section-name">About Us</span>
      <span class="title">This Is Our Story</span>
      <p class="story">
        Charlestown House of Pizza is a family owned and operated restaurant
        serving the community for over 20 years. Stop by and Dine-in our
        comfortable Restaurant or Call for Carry-Out orders. You may also call
        to pre-order your Dine-In meal. We offer only the freshest and highest
        quality ingredients to make your dining experience with us memorable.
        Ask us about having a special birthday party at the Charlestown House of
        Pizza.
      </p>
    </div>
  </div>
</div>
