body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* Utility classes */
.btn {
  border: none;
  color: white;
  background-color: orange;

  transition: background-color 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: rgb(217, 141, 0);
  }
}
.orange {
  color: rgb(241, 120, 0);
}
