.menu-page-wrapper {
  min-height: 100%;
  flex: 1;
  position: relative;
  .menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: brightness(40%);
  }
}
.category-selector {
  display: flex;
  max-width: 40%;
  flex-wrap: wrap;
  margin-inline: auto;
  margin-top: 2rem;
  justify-content: center;
  gap: 20px;
  .category-btn {
    color: white;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Arima Madurai";
    border-radius: 25px;
    font-size: 24px;
    font-weight: 600;
    padding: 0 2rem;
    background-color: transparent;
    border: 3px solid orange;
    transition: background-color 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: orange;
    }
  }
}
.searchbar {
  margin-top: 2rem;
  max-width: 35%;
  margin-inline: auto;
  display: flex;
  gap: 10px;
  .field {
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Arima Madurai";
    font-weight: 500;
    padding: 8px 20px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 0.4);
    color: rgb(208, 208, 208);
    backdrop-filter: blur(5px);
  }
  .search-btn {
    color: rgb(255, 255, 255);

    font-family: "Arima Madurai";
    border-radius: 15px;
    font-size: 24px;
    font-weight: 600;
    padding: 0 2rem;
    background: linear-gradient(
      90deg,
      rgba(255, 121, 0, 1) 0%,
      rgb(247, 204, 12) 90%
    );
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.menu-container {
  display: grid;
  padding-block: 3rem;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 30px;
  grid-template-columns: repeat(3, min-content);
  img {
    height: 150px;
  }
  a {
    text-decoration: none;
  }
}
